name: Linux Build
on: workflow_dispatch
jobs:
 build-linux:
    runs-on: ubuntu-20.04
    name: Build on linux-amd64
    steps:
      - name: Update binaries
        run: |
          sudo apt update || true
          sudo apt install -y libuv1-dev
          sudo apt install -y g++-aarch64-linux-gnu || true
          git clone --recursive https://github.com/RajaSunrise/socketify-extra.git
          cd socketify-extra/socketify_extra/native
          make linux
          cd ../
          git add libsocketify_linux_amd64.so
          git config --global user.email "indra020204@gmail.com"
          git config --global user.name "RajaSunrise"
          git commit -m "[GitHub Actions] Updated linux-amd64 binaries" || true
          git push "https://RajaSunrise:${{ secrets.BUILDTOKEN }}@github.com/RajaSunrise/socketify-extra.git"
