name: Apple Silicon Build
on: workflow_dispatch
jobs:
 build-macos:
    runs-on: macos-11.0
    name: Build on darwin-arm64
    steps:
      - name: Update binaries
        run: |
          brew install autoconf automake libtool cmake
          git clone --branch v1.44.2 --recursive https://github.com/libuv/libuv.git
          cd libuv
          cmake . -DCMAKE_OSX_ARCHITECTURES=arm64
          cmake --build .
          cd ../
          git clone --recursive https://github.com/RajaSunrise/socketify-extra.git
          cd socketify-extra/socketify_extra/native
          make macos-arm64-libuv-static-cmake
          cd ../
          git add libsocketify_darwin_arm64.so
          git config --global user.email "indra020204@gmail.com"
          git config --global user.name "RajaSunrise"
          git commit -m "[GitHub Actions] Updated darwin-arm64 binaries" || true
          git push "https://RajaSunrise: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@github.com/RajaSunrise/socketify-extra.git"
